/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header */
header>img {
    padding: 10px 0;
}

h1 {
    font-size: 40px;
    display: inline-block;
}

/* colore sfondo */
main {
    background-color: #f6f8f9;
    width: 100%;
    padding: 50px;
}

section {
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
}

/* bottoni */
button {
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;

    cursor: pointer;
    border-radius: 5px;
}

#button1 {
    background-color: #47adf1;
    border: none;
    color: white;
}

#button2 {
    background-color: #ffffff;
    border: 1px solid #c7ccd1;
    color: #c7ccd1;
}

/* lista */
li {
    list-style-type: none;
}